@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply p-2 my-2 rounded bg-yellow-100;
    @apply shadow rounded;
    @apply hover:bg-yellow-200 hover:shadow-none focus:bg-yellow-200;
  }

  .btn-secondary {
    @apply p-2 my-2 rounded bg-gray-100;
    @apply shadow rounded;
    @apply hover:bg-gray-200 hover:shadow-none focus:bg-gray-200 focus:ring-2 focus:ring-gray-400;
  }

  input[type="text"] {
    @apply block rounded disabled:bg-gray-100 my-1 read-only:bg-gray-100;
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #333;
  border-color: #333 transparent #333 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
